.Body{ 
    border: 1px, solid #e6e6e6;
    border-radius: 3px;
    background-image: url(/Images/Theme\ nordwood-unsplash.jpg);
    padding: 6px;
}
.block{
    color: #fcfcfc;
    pattern: guaze;
    width:100%;
    height: 80px;
}
.h1 {color: #000000;
    font:PermanentMarker-Regular;
    font-size: 60px;
}
.h2{
    font:AmaticSC-Regular;
    color: #ba202e;
font-size:30px;
}
.p {
    font: OpenSansCondensed-Light;
    font-size: 12px;
    font-color: #020202;
}
img {
    border-radius: 8px;
    box-shadow: grey;
  }
/* Thumbnail for Links*/
.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  <a href="paris.jpg">
    <img src="paris.jpg" alt="Paris">
  </a>
.section{

}
aside .ul {
        list-style-image: url('C:\Users\Sunshine\Desktop\Codespace\final_submission\Images/Cartooning-for-Peace-1024x1024.png');
        list-style-image: url('C:\Users\Sunshine\Desktop\Codespace\final_submission\Images/bookshop.png');
      }
/*BLock Quote for Donation Page*/
.blockquote {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 40px;
        margin-right: 40px;
      }

/* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
    }
    
/* Hide the images by default */
    .mySlides {
      display: none;
    }
    
/* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }
Use of images and image style

/*Forms*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }