/* Layout */

body{
  margin: 0;
  border: 1px;
  padding: 1px;
}

/* Header/Logo/Title */
header {
  border-bottom: 2px solid;
  border-color: #ba202e;
  padding: 5px 10px;
  height: 150px;
}

#logo {
  display: inline-block;
  width: 25%;
}

#Zap{
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  font-style: oblique;
  color: #003333;
  font-size: 40px;
  letter-spacing: 7px;
  padding-block: 30px;
  
}

.pageName ul{
  list-style-type: none;
}

.pageName {
  color: #ba202e;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  float: right;
} 

/*Side Navbar*/
/*aside container*/

aside {
  position: absolute;
  float: right;
  background-image: url("../Images/section\ background.jpg");
  background-repeat: repeat;
  width: 29%;
  height: 100%;
  right: 0;
  padding-top: 20px;
}

aside ul {
  list-style-type: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  line-height: 15px;
  }

  aside li{
    padding: 20px;
  }

  aside img{
    box-shadow: lightslategray;
    text-align: center;
  }

span {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #ba202e;
        font-style: bold;
        padding: 1px;
      }

/*Main Section*/
section{
  width: 70%;
  border-bottom: #ba202e;

}
section h2{
  font-family: 'Amatic SC', cursive;
    color: #ba202e;
    font-size: 25px;
}

article p {
  font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color: #020202;
    text-align: left;
    width:65%;
    display: inline-block;
}
#art_img{

  display: inline;
  padding: 1px 1px;
  text-align: center;
}

/*Slideshow*/
.slideshow{
  width: 70%;
  height: 450px;
  background-image: url("../Images/Theme\ nordwood.jpg");
}

.container {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 370px;
}

.slidePics{
  display: inline;
  list-style: none;
  position: relative;
}

.next {
  font-family: 'Amatic', cursive;
  color: #ba202e;
  background-color: aliceblue;
  right: 0;
  border-radius: 3px 0 0 3px;
  position: relative;
}

.prev {
  left: 0px;
  font-family: 'Amatic', cursive;
  color: #ba202e;
  background-color: aliceblue;
  border-radius: 3px 0 0 3px;
  position: relative;
}

/*Footer*/

 footer{
  clear: all;
  padding: 1px;
  line-height: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid;
  border-color: #ba202e;
  text-align: center;
 }

 .back {
  background-image: url("../Images/section\ background.jpg");
  background-repeat: round;
  width: 900px;
  height:57.6px;
  background-position: 100vw;
 }


 footer ul {
  list-style-type:none;
  margin: 1px;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: lightslategray;
}
 /*Forms*/
input[type=text] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }