/* Layout */
section, aside, nav {
  padding: 5px;
}

body{
  margin: 0;
  border: 1px;
  padding: 1px;
}

/* Header/Logo/Title */
header {
  border-bottom: 2px solid;
  border-color: #ba202e;
  padding: 5px 10px;
  height: 150px;
}

#logo {
  display: inline-block;
  width: 30%;
}

.pageName {
  color: #ba202e;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  text-align: right;
  display:inline-block;
} 

.pageName ul{
  list-style-type: none;
}

.pageName h1{
  color: #003333;
  font-family:'Permanent Marker', cursive;
  font-size: 30px;
  text-align:left;
}

/*Side Navbar*/
/*aside container*/

aside {
  position: absolute;
  float: right;
  width: 28%;
  height: 850px;
  right: 0;
  background-color: mediumspringgreen;
  padding-top: 20px;
}

aside ul {
  list-style-type: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  line-height: 15px;
  }

  aside li{
    padding: 20px;
  }

  aside img{
    box-shadow: lightslategray;
    text-align: center;
  }

span {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #ba202e;
        font-style: bold;
        padding: 1px;
      }

/*Main Section*/
section{
  width: 70%;
  background-color: mediumorchid;
  border-bottom: #ba202e;
  position: absolute;
  float:left;
}
section h2{
  font-family: 'Amatic SC', cursive;
    color: #ba202e;
    font-size: 25px;
}

article p {
  font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color: #020202;
    text-align: left;
    width:65%;
    display: inline-block;
}
#art_img{
  display: inline;
}

/*Slideshow*/

.mySlides{
  display: none;
  width: 100%;
  height: auto;
}

.Container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.Slider_pics {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}



 footer{
  padding: 1px;
  line-height: 25px;
  background-image: url('/Images/yellow.jpg') width='977.6' height='57.6';
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid;
  border-color: #ba202e;
  text-align: center;
 }


 footer ul {
  list-style-type:none;
  margin: 1px;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: lightslategray;
}
 /*Forms*/
input[type=text] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }