/* Layout */

body{
  margin: 1px;
  border: 1px;
  padding: 1px;
}

/* Header/Logo/Title */
header {
  border-bottom: 2px solid;
  border-color: #ba202e;
  padding: 5px 5%;
  height: 160px;
}

#logo {
  float: left;
  width: 30%;
  height:160px;
}

#Zap{
  width:30%;
  font-family: 'Permanent Marker', cursive;
  font-style: oblique;
  color: #363b3b;
  font-size: 40px;
  letter-spacing: 7px;
  text-align: center;
  float: left;
  margin: 0%;
}

.pageName ul{
  list-style-type: none;
}

.pageName {
  width: 30%;
  color: #ba202e;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  text-align: right;
  float: right;
} 

/*Side Navbar*/
/*aside container*/

aside {
  position: absolute;
  float: right;
  background-image: url("../Images/section\ background.jpg");
  background-repeat: repeat;
  width: 29%;
  right: 0;
  padding-top: 20px;
}

aside ul {
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 20px;
  }

  aside li{
    padding: 20px;
  }

  aside img{
    box-shadow: lightslategray;
    text-align: center;
  }

span {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #ba202e;
        font-style: bold;
        font-size: 25px;
        padding: 1px;
        
      }

/*Main Section*/
section{
  background-image: url("../Images/Theme\ nordwood.jpg");
  width: 70%;
  border-bottom: #ba202e;
}

#artID{
  font-family:'Amatic SC', cursive;
  color: #ba202e;
  font-size: 30px;
  position: absolute;
}

article p {
  font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #020202;
    text-align: justify;
    width:65%;
    float:left;
}

#art_img{
  padding: 1px 1px;
  text-align: center;
}

/*Slideshow*/

#slideH2{
  font-family:'Amatic SC', cursive;
  color: #ba202e;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
  text-align: center;  
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ba202e;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*Area: Call to Action*/

.CalltoAction{
  margin: 0;
  width:100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#CFP {
  float: left;
  text-align: center;
}

area p{
  font-size: 14px;
  text-align: justify;
  line-height: 15px;
}

h4 {
  color: #138bc7;
  font-size: 25px;
  letter-spacing: 3px;
}

/*Footer*/

 footer{
  line-height: 25px;
  width: 100%;
  border-top: 2px solid;
  border-color: #ba202e;
  text-align: center;
 }

 .back {
  background-image: url("../Images/section\ background.jpg");
  background-repeat: round;
  width: 900px;
  height:57.6px;
 }


 footer ul {
  list-style-type:none;
  margin: 1px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  color: lightslategray;
}


 /*Forms*/

 #form_h2{
  font-family: 'Permanent Marker', cursive;
  color: #ba202e;
  font-size: 45px;
  float: left;
  width: 60%;
}

 form {
    width: 40%;
    padding: 5px;
    margin: 5px 10px;
    font-family:'Amatic SC', cursive;
    font-size:20px;
    float:left;
  }

#commentBox{
  height: 100px;
}

/*User Comment Box*/

.commentContainer{
  width: 40%;
  background-image: url("../Images/section\ background.jpg");
  float: right;
  top:0;
 }
 
 aside h3{
  padding-top:10px; 
  font-family: 'Amatic SC', cursive;
  color: #ba202e;
  font-size: 50px;
  text-align: center;
 }

.userComments{
  border: 2px solid;
  border-color: #ba202e;
  width: 40%;
}

#conPic{
  width:10%;
  float:left;
}
  

